#msg-plano-meta-box {
  background: OrangeRed;

}
#msg-plano-meta-box h2 {
border: none !important;
background: aqua;
color: black;
text-align: center;
}

#msg-plano-meta-box h2, #msg-plano-meta-box .inside{
  color: inherit;
}
#msg-plano-meta-box .inside{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
.gif {
  margin-right: 20px;
}
.gif img{
  max-width:75px;
}



#msg-plano-meta-box .mensaje-box{
  width: 85%;
  font-size: 1.3em;
}
