/**************************************************************************************************************/
/************* GLOBAL *****************************************************************************************/
/**************************************************************************************************************/
html, body{
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  max-width: 100%;

}
body{
  overflow-x: hidden;
}
.flex {
  display: flex;
  align-items: center;
}
.full-page {
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
}
section {
  position: relative;
  max-width: 100%;
}
.container{
  position:relative;
  z-index: 1 !important;
}
#somos .row, #beneficios .row {
  text-align: center;
}
/* sombra hover section */
.full-page:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
}
a {
  text-decoration: none !important;
  color: inherit;
}

/**************************************************************************************************************/
/************* NAV ********************************************************************************************/
/**************************************************************************************************************/
.navbar-default {
  background-color: rgba(0, 0, 0, 0.4);
  border: 0;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
  color: white !important;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}
/* Underline From Center */
.underline{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  width: 0px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.underline:hover:before, .underline:focus:before, .underline:active:before {
  left: 0;
  right: 0;
  width: auto;
}
/*line height is 20px by default so add 30px top and bottom to equal the new .navbar-brand 80px height  */
.navbar-brand {
  height: 70px;
}
.nav >li >a {
  padding-top: 25px;
  padding-bottom: 25px;
}
.navbar-brand img{
  max-height: 100%;
}
/**************************************************************************************************************/
/************* TIPOS ******************************************************************************************/
/**************************************************************************************************************/
h1, h2, h3, h4, p, ul, li, ol {
  text-shadow: 2px 1px rgba(0, 0, 0, 0.3);
  color: inherit;
}
h1, h2, h3, h4 {
  letter-spacing: 7px;
}
.titulo {
  margin-bottom: 30px;
  color: white;
}

.contenido {
  color: white !important;
  line-height: 2.2;
  letter-spacing: 1px;
  text-align: justify;
  text-justify: inter-word;
  display: inline-block;
  width: 70%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.titulo {
  display: inline-block;
  width:100%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
ul {
  padding-right: 0;
  padding-left: 1em;
}
.contenido ol li {
  list-style:circle;
  line-height: 2.1;
  margin-bottom: 1em;
}
.contenido ul li {
  list-style:circle;
  line-height: 2.1;
  margin-bottom: 1em;
}

/**************************************************************************************************************/
/************* HOME *******************************************************************************************/
/**************************************************************************************************************/
#home .container {
  height: 100%;
}
#home .row {
  height: inherit;
}
#home {
  background:url('../../img/home-bg.jpg') no-repeat center center;
}
#home .col-md-6 img {
  max-width: 380px;
  width: 100%;
}
#home.full-page{
  height: 100% !important;
}

/**************************************************************************************************************/
/************* SOMOS ******************************************************************************************/
/**************************************************************************************************************/
#somos {
  background:url('../../img/somos-bg.jpg') no-repeat center center;
  padding-top: 7%;
  padding-bottom: 9%;
}

/**************************************************************************************************************/
/************* BENEFICIOS *************************************************************************************/
/**************************************************************************************************************/
#beneficios {
  background:url('../../img/beneficios-bg.jpg') no-repeat center center;
  padding-top: 7%;
  padding-bottom: 9%;
}

/**************************************************************************************************************/
/************* GALERY *****************************************************************************************/
/**************************************************************************************************************/
.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
#galeria .link-gallery:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(43, 147, 25, 0);
    transition: all 0.5s;
}
#galeria .link-gallery:hover:after {
   background: rgba(43, 147, 25, 0.7);
}
.link-gallery {
  position: relative;
  display:block;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.link-gallery p {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  margin: 0;
  z-index: 30;
  color: rgb(255, 255, 255) !important;
  z-index: 5;
  transition: all 0.5s;
  opacity: 0;
}
.link-gallery:hover p {
  opacity: 1;
}

/**************************************************************************************************************/
/************* MAP ********************************************************************************************/
/**************************************************************************************************************/
#mapa {
  padding-top: 2%;
  padding-bottom: 2%;
  background: white;
}
#callplano {
  cursor: zoom-in;
}

/**************************************************************************************************************/
/************* FOOTER *****************************************************************************************/
/**************************************************************************************************************/
footer {
  background: url('../../img/footer-bg.jpg');
  background-repeat:repeat-x;
  background-position:left bottom;
  color: rgb(2, 104, 54) !important;
  min-height: 280px;
  padding-top: 30px;
  padding-bottom: 80px;
  border-top: 1px solid rgb(236, 236, 236);
}
footer h3{
  letter-spacing: 1px;
  color: inherit;
  text-shadow: none !important;
}
footer span {
  color: inherit;
  display: block;
}
footer p {
  color: inherit;
}
.col-brand {
  text-align: left;
}
.col-datos {
  text-align: right;
  transition: all 0.5s;
}
.col-datos a {
  color: inherit;
  transition: all 0.5s;
}
.col-datos a:hover {
  color: rgb(24, 197, 0);
}
.brand-final p {
  padding-top: 20px;
  max-width: 400px;
  display: inline-block;
}
.brand-final img {
  max-width: 400px;
  width: 100%;
}

/**************************************************************************************************************/
/************* FX *********************************************************************************************/
/**************************************************************************************************************/
.full-page:hover:after {
  background: rgba(0, 0, 0, 0.6);
}

/**************************************************************************************************************/
/************* CONTACTO ***************************************************************************************/
/**************************************************************************************************************/
#contacto {
  color: white;
}
.email{
  background: rgb(8, 117, 201);
}
.email, .geo {
  padding-top:4%;
  padding-bottom: 4%;
}
.email span {
  font-size: 1.5em;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 1em;
}

/**************************************************************************************************************/
/************* MODAL*******************************************************************************************/
/**************************************************************************************************************/
/* .modal-fullscreen */
.modal-fullscreen {
  background: transparent;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}
/* .modal-fullscreen size: we use Bootstrap media query breakpoints */
.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.modal-fullscreen h1, .modal-fullscreen h2, .modal-fullscreen h3, .modal-fullscreen h4{
  color: grey;
  text-shadow: none;
}
.active p {
  display: none;
}

/**************************************************************************************************************/
/************* MEDIA QUERIES***********************************************************************************/
/**************************************************************************************************************/
@media only screen and (min-width : 1400px) {
  footer {
    background:url('../../img/arbol-bg.png'),url('../../img/footer-bg.jpg');
    background-repeat: no-repeat, repeat-x;
    background-position: right bottom,left bottom;
  }
}
@media only screen and (min-width : 992px) {
  /*#beneficios .row {
    text-align: right !important;
  }
  #beneficios .contenido p, .contenido li, .contenido ol {
    text-align: right !important;
  }*/
}
@media only screen and (max-width : 480px) {
  .flex {
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 90%;
  }
}
@media only screen and (max-width : 768px) {
  .col-datos, .col-brand {
    text-align: center;
  }
  address {
    margin-top: 20px;
  }
}
@media only screen and (max-width : 480px) {
  .contenido {
    width: 100%;
  }
  #home img {
    max-width: 280px;
  }
  #somos.full-page, #beneficios.full-page  {
    min-height: 80%;
    height: auto;
  }
  .full-page:after {
    background: rgba(0, 0, 0, 0.6);
  }
  .email span {
    font-size: 1.1em;
  }
}
